@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter&display=swap');
/*#b2a4ff,
    #ffb4b4,
    #ffdeb4,
    #fdf7c3,*/
:root {
    --gradient: linear-gradient(
        45deg,
        #C1AFE0,
        #BBCFF2,
        #C8EFB3,
        #FFF7BA,
        #F9D39D,
        #FCB6B6
    );
}
.gameInterface {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
background-image: var(--gradient);
background-size: 300%;
animation: bg-animation 8s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

.back-container {
    width: 600px;
    height: 600px;
    background-color: #DBDFEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;

}

.btn-container-1 {
    width: 600px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;


}

.btn-container-2 {
    margin-bottom: 20px;
    width: 600px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}



.answer-btn {
    width: 250px;
    height: 80px;
    border-radius: 5px;
    border: none;
    background-color: #8294C4;
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;

}

.answer-btn:hover {
    opacity: 0.6;
}

.word {
    color: red;
    font-family: 'DM Sans', sans-serif;
    font-size: 70px;
    letter-spacing: 5px;
}

.question-card {
    background-color: #EEEEEE;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    max-width: 800px;
    min-width: 80%;
    height: 400px;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    
}

ul {
    list-style: none;

}

.no1 {
    color: #ED2B2A;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;

}

.no2 {
    color: #F7DB6A;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;

}

.no3 {
    color: #609966;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;

}

.no4 {
    color: #609966;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;

}

.no5 {
    color: #3DB2FF;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;

}

.no6 {
    color: #F7DB6A;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;

}

.no7 {
    color: #ED2B2A;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;

}

.no8 {
    color: #3DB2FF;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;

}

.no9 {
    color: #ED2B2A;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;

}

.no10 {
    color: #609966;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;
}

.no11 {
    color: #3DB2FF;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;

}

.no12 {
    color: #F7DB6A;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;
}


.no13 {
    color: #609966;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;
}


.no14 {
    color: #ED2B2A;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;
}


.no15 {
    color: #3DB2FF;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;
}

.q1:hover {
    opacity: 0.6;
}

.q2:hover {
    opacity: 0.6;
}

.q3:hover {
    opacity: 0.6;
}

.q4:hover {
    opacity: 0.6;
}

.q1 {
    width: 80%;
    background-color: #609966;
    padding: 10px;
    border: 2px solid white;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 30px;
}

.q2 {
    width: 80%;
    background-color: #F7DB6A;
    padding: 10px;
    border: 2px solid white;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 30px;
}

.q3 {
    width: 80%;
    background-color: #ED2B2A;
    padding: 10px;
    border: 2px solid white;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 30px;
}

.q4 {
    width: 80%;
    background-color: #3DB2FF;
    padding: 10px;
    border: 2px solid white;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 30px;

}

.start-btn {
    color: #e8eaf4;
    background-color: #4c38e2;
    font-size: large;
    font-weight: 700;
    width: 150px;
    height: 60px;
    margin: 15px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: -3px 3px 12px -1px rgba(63, 43, 49, 0.61);
    -webkit-box-shadow: -3px 3px 12px -1px rgba(63, 43, 49, 0.61);
    -moz-box-shadow: -3px 3px 12px -1px rgba(63, 43, 49, 0.61);

}

.start-btn:hover {
    background: rgb(247, 16, 16);
    background: linear-gradient(90deg, rgba(247, 16, 16, 1) 0%, rgba(32, 251, 25, 1) 36%, rgba(29, 85, 253, 1) 67%, rgba(238, 252, 69, 1) 94%);
    cursor: pointer;

}

.start-btn:active {
    width: 170px;
    height: 70px;
}


.container {
    display: flex;
    justify-content: center;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
    text-align: center;
    border: solid #cd6587;
    color: #e8eaf4;
    padding: 5px;
    border-radius: 30px;
    background-color: #c13e69;
    box-shadow: 1px -10px 84px 29px rgba(205, 101, 135, 0.67);
    -webkit-box-shadow: 1px -10px 84px 29px rgba(205, 101, 135, 0.67);
    -moz-box-shadow: 1px -10px 84px 29px rgba(205, 101, 135, 0.67);
}

.create {
    font-size: 25px;
    font-weight: 500;
}
.login-heading {
    color: #f7e5eb;

}

input {
    background-color: #ecc7d3;
    height: 45px;
    width: auto;
    margin: 10px;
    border-radius: 10px;

}

input::placeholder {
    font-size: medium;
}

.reg-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7e5eb;
    background-color: #cd6587;
    width: 40%;
    height: 50px;
    margin: 15px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 600;
    box-shadow: -3px 3px 12px -1px rgba(63, 43, 49, 0.61);
    -webkit-box-shadow: -3px 3px 12px -1px rgba(63, 43, 49, 0.61);
    -moz-box-shadow: -3px 3px 12px -1px rgba(63, 43, 49, 0.61);

}

.reg-btn:hover {
    box-shadow: none;
    background-color: #cc859c;
    cursor: pointer;
}

.home_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    border: 15px solid #c13e69;
    border-radius: 20px;

}

.score {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    border: solid #cd6587;
    width: 50%;
    border-radius: 30px;
    background-color: #c13e69;

}

/*.timer {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    width: 100%;
}
*/
.current-score {
    background-color: #cd6587;
    color: white;
    width: 400px;
    height: 6rem;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}

.timer-container {
    background-color: #cd6587;
    width: 400px;
    height: 5rem;
    color: white;
    border-radius: 5rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.scoreboard-container {
    background-color: #cd6587;
    color: white;
    width: 5rem;
    height: 20rem;
    padding: 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.rightanswer {
    border: solid 2px green;
}

.restart {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    width: 8rem;
    height: 2rem;
    background-color: #DBDFEA;
    border-style: none;
    border-radius: 12rem;
}

.restart:hover {
    
    cursor: pointer;
    background-color: turquoise;
    color: white;
}